//vars
$container-width: 940px;
$footer-height: 60px;
$grey: #2f3234;
$yellow: #f9b43b;
$orange: #e45028;

//layout
@import "layout/normalize";
@import "layout/fonts.css";
@import "layout/adjustment";

//section
@import "sectoin/first-screen.scss";
@import "sectoin/first-screen.css";
@import "sectoin/header.scss";
@import "sectoin/we.scss";
@import "sectoin/we.css";
@import "sectoin/burger.scss";
@import "sectoin/comand";
