html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(../img/pattern.png) repeat;
  min-height: 100%;
  color: #4a545d;
  margin: 0;
  padding-bottom: 80px;
}

.page__top {
  min-width: 970px;
  height: 119px;
  position: relative;
  margin-bottom: 40px;
  background-color: #eff3f7;
}
.top__container {
  max-width: 1200px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
  background-color: #eff3f7;
}

.top__container .logo {
  position: absolute;
  top: 36px;
  left: 0px;
}

.top__container .logo__text {
  position: absolute;
  left: -9999px;
}

.top__container .social__btn {
  position: absolute;
  top: 36px;
  right: 0px;
}

.social__btn {
  margin: 0;
  padding: 0;
  min-width: 250px;
}

.social__btn .social__item {
  list-style: none;
  display: inline-block;
  height: 47px;
  width: 47px;
  margin-left: 19px;
}

.social__btn .social__item:first-child {
  margin-left: 0;
}
.social__btn .social__link {
  display:block;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
}

.vk {
  background: url(../img/vk.png) no-repeat;
}

.vk:hover {
  background: url(../img/vkh.png) no-repeat;
}


.fb {
  background: url(../img/fb.png) no-repeat;
}

.fb:hover {
  background: url(../img/fbh.png) no-repeat;
}


.tw {
  background: url(../img/tw.png) no-repeat;
}

.tw:hover {
  background: url(../img/twh.png) no-repeat;
}


.git {
  background: url(../img/git.png) no-repeat;
}

.git:hover {
  background: url(../img/gith.png) no-repeat;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.sidebar {
  width: 250px;
  float:left;
}

.navigation {
  position: relative;
  background-color: #eff3f7;
  border-radius: 4px;
  overflow: hidden;
}
.navigation__btn {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__item {
  border-bottom: 2px solid #3ba8c0;
  font-size: 22px;
}
.navigation__item:last-child {
  border-bottom: none;
}

.navigation__link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color:#959aa8;
  margin-left: 16px;
  padding: 20px 0;
}
.navigation__link:hover{
  color: #3ba8c0;
}

.navigation__item.active {
  background: #3ba8c0;
}
.navigation__item.active .navigation__link{
  color: #eff3f7;
}

.main__content {
  width: 650px;
  float: right;
}

.box {
  background: #eff3f7;
  border-radius: 4px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.box__header {
  margin: 0 0 27px 0;
  font-size: 27px;
  padding: 13px 23px;
  display: inline-block;
  color: #3ba8c0;
  border-bottom: 2px solid #3ba8c0; 
}
.box__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 50px;
}
.box__item {
  padding-left: 76px;
  margin-bottom: 20px;
}

.box__item.icon-work {
  background: url(../img/bag.png) no-repeat 10px;
  
}
.box__item.icon-hat {
  background: url(../img/hat.png)no-repeat 10px;  
}
.box__item.icon-course {
  background: url(../img/crs.png)no-repeat 17px;

}
.box__item .where {
  font-size: 16px;
  
}
.box__item .period {
  font-size: 14px;
  line-height: 1
}
.page__bottom {
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eff3f7;
}
.text__footer {
  width: 960px;
  margin:0 auto;
  margin-top: 20px;
  text-align: center;
}