@media screen and (max-width: 480px) {
	.container{
		width: 95%;
	}
	.user__name{
		width: 125px;
		font-size: 14px;
	}
	.sidebar{
		margin-bottom: 13px;
	}
	.nav__link-icon{
		display: none;	
	}
	.nav__link {
		padding: 0;
		padding-right: 13px;
		font-size: 14px;
	}
	.about__pic{
		width: 140px;
		height: 140px;
	}
	.about__text {
		font-size: 16px;}

	// Портфолио 
	.title__portfolio {
		margin-bottom: 0px;
	}

	.portfolio__list{
		text-align: center;
	}


	.portfolio__item {
		width: 300px;
		&:nth-child(odd){
			float:none;
		}
		&:nth-child(even){
			float:none;
		}
	}

	.portfolio__pic {
		height: 240px;
	}

	.portfolio__work{
		text-align: left;
		font-size: 16px;
	}

	.portfolio__work, .portfolio__type{
		font-size: 16px;
	}

	.portfolio__name {
    font-size: 24px;
	}

	.career__title {
		font-size: 18px;
	}

	.career__position, .career__date {
		font-size: 16px;
	}

	.career__info {
    margin-top: 5px;
	}

	.footer__right{
		margin-top: 8px;
	}
	
}