.hello {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 300px;
  height: 240px;
  text-align: center;
}

.hello__top {

}

.hello-bg {
 background: url(../../images/bg/ground.jpg) repeat;
}
.hello__ava{
	border-radius: 50%;
	width: 140px;
	height: 140px;
	border: 2px solid rgb(222, 222, 222);
	overflow: hidden;
	position: absolute;
	top: 0;
	margin-top: -70px;
	left: 50%;
	margin-left: -70px;	

}

.hello__ava-img {
	height: 100%;
	width: 100%;
}

.hello__name,.hello__btn {
	display: inline-block;
}


.hello__name {
	padding-top: 90px;
	font-size: 21px;
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
}

.hello__bottom {
	height: 80px;
	background: #33c1e3;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	border-radius: 0 0 10px 10px;
}

.hello__btn {
	position: relative;
	border-color:white;
	color:white;
	top: 50%;
	transform: translateY(-50%);
}

.hello__btn:hover {
	background: white;
	color: #33c1e3;
}

.shake {
  animation: shake 1.5s cubic-bezier(.17,.67,.83,.67);
}

@keyframes shake {
  from, to {
    transform:translate(-50%,-50%); 
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate(calc(-50% + 10px),-50%);
  }

  20%, 40%, 60%, 80% {
    transform: translate(calc(-50% - 10px),-50%);
  }
}


