.team {
	background: url(../img/section/team.png);
	background-size: cover;
}

.ourteam{
	position: absolute;	
	top: 0;	
	bottom: 0;	
	background: rgba(49,52,54,0.9);
	right: 0;	
	left: 50%;	
	padding-top: 7%;	
	padding-left: 7%;	
}

.ourteam__title {
	color:$yellow;
	margin-bottom: 15%;	
}

.ourteam__list {
	padding-left: 20px;	
}

.ourteam__item {
	margin-bottom: 7%;
}

.ourteam__name{
	text-transform: uppercase;
	color:white;
	font-family: 'gagalin regular';
	font-size: 14px;
	position:relative;
	&:before {
		content:"";
		width: 0;	
		height: 0;	
		border-top: 6px solid $yellow;
		border-left: 4px solid transparent;	
		border-right: 4px solid transparent;
		border-bottom: 0px solid transparent;	
		display: block;	
		position: absolute;
		top: 8px;	
		left: -18px;	
	}
}

.ourteam__item_active {
	.ourteam__name{
	color: $yellow;
		&:before {
		border-bottom: 6px solid $yellow;
		border-top: 0px solid transparent;	
		}
		&+.ourteam__person {
		display: block;
	}
}
}


.ourteam__person {
	height: 0;
	@include clearfix ;
	margin-top: 17px;
}



.ourteam__pic {
	float: left;
	width: 30%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}


.ourteam__pic-img {
	width: auto;
	height: 100%;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.ourteam__text {
	float: left;
	max-width: 60%;
	color: #fff;
	font-size: 14px;
}

.ourteam__post {
	font-family: 'ubuntu bold';
	margin-bottom: 20px;
}