.fixed-menu {
	position: fixed;
	top: 100px;
	right: 50px;
	z-index: 100;
}

.fixed-menu__item {
	margin-bottom: 5px;
}

.fixed-menu__link {
	width: 16px;
	height: 16px;
	display: block;
	position: relative;
	border: 1px solid transparent;
	border-radius: 50%;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-radius: 50%;
	}
	&:after {
		width: 6px;
		height: 6px;
		background: #fff;
	}
	
	
}

.fixed-menu__item_active .fixed-menu__link{
	border: 1px solid #fff;
		transition: 0.3s;
}