.burger {background: linear-gradient( 180deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
} 

.burger-slider__item {
	position: relative;
	padding-bottom: 85px;
	@include clearfix ;
}

.ingredients {
	position: absolute;
	width: 90px;
    height: 90px;
	border-radius: 5px;
    background-color: rgba(227, 80, 40,0.4);
    top: 20px;
    left: 0px;
    transition: .3s;
    &:hover {
    	background-color: rgb(227, 80, 40);
    }
    &:hover .ingredients__dropdown{
	display: block;
	}
}

.ingredients__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.ingredients__icon-text {
	color: white;
	text-align: center;
	font-size: 14px;
	font-family: 'gagalin regular';
}

.ingredients__dropdown{
	display: none;
	background: rgba(255,255,255,0.9);
	position: absolute;
	width: 270px;
	left: 100%;
	border-radius: 7px;
	padding: 10px;
}

.ingredients__table{
	width: 100%;
}

.caloricity {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	color: white;
	font-family: 'gagalin regular';
	text-align: center;
}

.caloricity__measure{
	background: url(../../img/icons/kkal.svg) 50% 50% no-repeat;
	height: 60px;
	width: 65px;
	position: relative;
}

.caloricity__amount {
	position: absolute;
	font-size: 20px;
	left: 0;
	right: 0;
	bottom: 10px;
}

.caloricity__title {
	font-size: 14px;
}

.burger-slider__left {
	float: left;
	width: 50%;
	padding-top: 90px;
}

.burger-slider__pic {
	display: inline-block;
	max-width: 100%;
}

.burger-slider__right {
	float: right;
	width: 50%;
}

.burger-slider__title  {
	color: white;
}

.burger-slider__text{
	font-size: 14px;
	color: white;
}

.burger-slider__price{
	color: $orange;
	display: inline-block;
	font-family: 'gagalin regular';
	vertical-align: middle;
}

.burger-slider__price-amount {
	font-size: 72px;
}

.burger-slider__price-measure {
	font-size: 30px;	
}

.burger-slider__price-measure,
.burger-slider__price-amount {
	display: inline-block;
	vertical-align: bottom;
	line-height: 1;
}

.burger-slider__order {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 29px;
}