.team {
	background: url(../../img/section/team.png);
	background-size: cover;
}

.ourteam{
	position: absolute;	
	top: 0;	
	bottom: 0;	
	background: rgba(49,52,54,0.9);
	right: 0;	
	left: 50%;	
	padding-top: 7%;	
	padding-left: 7%;	
}

.ourteam__title {
	color:$yellow;
	margin-bottom: 15%;	
}

.ourteam__list {
	padding-left: 20px;	
}

.ourteam__item {
	margin-bottom: 7%;
}

.ourteam__name{
	text-transform: uppercase;
	color:white;
	font-family: 'gagalin regular';
	font-size: 14px;
	&:before {
		content:"";
		width: 0;	
		height: 0;	
		border-top: 6px solid $yellow;
		border-left: 4px solid transparent;	
		border-right: 4px solid transparent;
		display: block;	
		position: absolute;
		top: 8px;	
		left: -18px;	
	}
	&:hover	{
		color: $yellow;
		&:before {
		border-bottom: 6px solid $yellow;	
		}
	}
}

.ourteam__person {
	display: none;
}


