.review {
	background: #000;
}

.review__list {
	height: 100%;
	@include clearfix ;
}

.review__item {
	float: left;
	width: 25%;
	height: 50%;
}

.review__person {
	position: relative;
	height: 100%;
	width: 100%;
}

.review__photo {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	background-position: 50% 50%;
}

.review__person:hover .review__hover {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.review__hover {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
transform: translate(-50%, -50%) scale(0.8);
	opacity: 0;
	background: rgba(40, 40, 40, 0.8);
	padding: 15% 12%;
	transition: 0.3s;	
	font-size: 14px;
	color: white;
}



.review__name {
	font-family: 'gagalin regular';
	margin-bottom: 25px;
}

.review__text {
	margin-bottom: 15px;
}

.review__button {
  background-color: rgb(47, 50, 52);
  line-height: 30px;
  &:hover{
	background-color: rgb(31, 33, 34);
  }
}

.review__view {
	color: white;
}
  
