.we {
	background: url(../img/section/whitebroads.png) center center no-repeat;
	background-size: cover;
}
.we__title {
	text-align: center;
}
.we__list {font-size: 0;}
.we__item {
	margin-top: 80px;
	display: inline-block;
	width: 33.3%;
	vertical-align: top;
	padding: 0 15px;
	text-align: center;
}

.we__value{
	font-size: 24px;
	font-family: 'lifehack medium';
	margin-top: 27px;
}

.we__desk {
	margin-top: 27px;	
	font-size: 14px;
}